{% extends 'index.html' %}

{% block title %}Project2{% endblock %}

{% block glow %}Project2{% endblock %}


{% block content %}

<div class="sentanalcont">
        <center>
            <h1 class="sentanalconth1"> Sentiment is</h1>
        </center>
         <form action="" method="post">
            {% csrf_token %}
            <center>
                <input type="text" class="sentanalcontinput" name="sentanalcontstr">
            </center>
            <center>
                <button type="submit" name="sentanalcontbtn" value="jdfhkjd" class="sentanalcontbtn">Submit</button>
            </center>
        </form>
    </div>



{% endblock %}